.class-diagram-container,.sequence-diagram-container{
	border:2px solid blue;
	display:block;
	margin:0 !important;
}
.class-diagram-container{
	width:75%;
	height:50vh;
}
.sequence-diagram-container{
	width:100%;
	height:50vh;
}
.container{
	text-align:center;
}